<%= provide(:title, "About") %>
<div class="container">
<div class="row">
<center>
<h1>Who We Are</h1>
<p>Computers don't speak English. In fact, they speak several languages like TCP/IP, OTP, Binary and C#. If this is already too much information,then you need to call us! If you are familiar with these terms or your interested is piqued, read on! We can work with old or new technologies, computers, printers, scanners and both wired and wireless devices.
<%= image_tag("allpurposenetworking.jpeg", width: "100%", height: "7%") %>

</p><br>

<h1>What we use</h1>
<p><%= image_tag("heroku.svg", width: "30px", height: "40px") %>
<i class="fa fa-cloud-download fa-2x"></i>&nbsp; <i class="fa fa-linux fa-2x"></i>&nbsp; <i class="fa fa-windows fa-2x"></i>&nbsp; <i class="fa fa-amazon fa-2x"></i>&nbsp; <i class="fa fa-wrench fa-2x"></i>
<br><br>

We offer a wide variety of services to our clients. For those in need of hosting or database management, we have several options to choose from. We can host via Heroku if you are in a hurry and looking for something that can scale fairly easily. We offer Amazon Web Services(AWS) and their Elastic Beanstalk hosting option if you believe your app will need to scale to large proportions. Third, we offer clients the option for us to host them custom ourselves. This is the cheapest option to start, but depending on your needs this may be exactly what you are looking for. <br><br>

We offer services and knowledge for both Linux and Windows machines and servers, as well as amazon cloud for those who operate within that platform. <br><br>

If you are looking for someone to come to your business and work hands-on on your hardware, we offer that as well. Jeffrey Hulford has been fixing hard-drives and printers for years, and can fix most problems with ease.

</p>

<br>

<h1>Software and Operating System Maintenance</h1>
<p>Need your applications upgraded? Got a nasty virus? Maybe you've been looking into Google Apps or Office 365 but you aren't sure how to proceed. We can help you maximize savings by utilizing your current software as well as recommend products to add additional functionality and move into the future. This includes Windows OS upgrades, network upgrades, and infrastructure maintenance such as backups, email survices and security.
<%= image_tag("Software-OS-maintenance.jpeg", width: "100%", height: "7%") %>
</p><br>

<h1>Hardware Services</h1>
<p>With a wealth of experience with both older and newer hardware systems, we are able to keep you running or help minimize impact of new hardware requirements. Let us know what you want, and leave it to us! We can maintain and repair or implement and upgrade -whatever suits your budget.

<%= image_tag("hardware-services.jpeg", width: "100%", height: "7%") %>
</p>

</center>
</div>
</div>